.cus-btn-outline-primary, .cus-btn-outline-primary:disabled, .cus-btn-outline-primary.disabled, cus-btn-outline-primary:hover {
	color: #000000;
	background-color: transparent;
	border-color: #0d6efd;
}

@media (min-width:320px)  {
	.adaptive-sorting {
		display: block;
		height: 100%;
	}
	
}
@media (min-width:481px)  {
	.adaptive-sorting {
		display: block;
		height: 100%;
	}
	
}
@media (min-width:641px)  {
	.adaptive-sorting {
		display: block;
		height: 100%;
	}
}
@media (min-width:961px)  {
	.adaptive-sorting {
		display: block;
		overflow-y: scroll;
		height: 684px;
	}
}

@media (min-width:1025px) {
	.adaptive-sorting {
		display: block;
		overflow-y: scroll;
		height: 684px;
	}
}

@media (min-width:1320px) {
	.adaptive-sorting {
		display: block;
		overflow-y: scroll;
		height: 684px;
	}
}

.adaptive-sorting::-webkit-scrollbar {
	width: 0.25em;
	background-color: rgba(0,123,255,0.50);
}
.adaptive-sorting::-webkit-scrollbar-thumb {
	background-color: rgba(0,123,255,1);
}