* {
    $cursor: url('./ngs_ui/cursor.png') 0 0, auto;
    cursor: $cursor;
}
.navbar-button:hover, .navbar-button:active, .navbar-button:focus, .leaflet-popup-close-button:hover, .leaflet-popup-close-button:active, .leaflet-popup-close-button:focus {
    $cursor_active: url('./ngs_ui/cursor_active.png') 0 0, auto !important;
    cursor: $cursor_active;
    img, svg, div {
        cursor: $cursor_active;
        path {cursor: $cursor_active;}
    }
}
.leaflet-disabled, *:disabled {
    $cursor_inactive: url('./ngs_ui/cursor_inactive.png') 0 0, auto !important;
    cursor: $cursor_inactive;
}

.leaflet-grab, .leaflet-dragging, .leaflet-grab {
    $cursormap: url('./ngs_ui/cursormap.png') 32 32, auto !important;
    cursor: $cursormap;
}
.leaflet-marker-icon:hover, .leaflet-marker-icon:active {
    $cursormap_active: url('./ngs_ui/cursormap_active.png') 32 32, auto !important;
    cursor: $cursormap_active;
}