@import './../stylesheet.scss';

.menu-columns#settings {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row;
    padding-top: 10px;
    padding-bottom: 6px;
    .menu-col-cat {
        flex-grow: 5;
        display: flex;
        flex-flow: column;
        .menu-button-cat {
            width: 250px;
            height: 40px;
            margin-left: 6px;
            margin-right: 6px;
            margin-top: 3px;
            margin-bottom: 3px;
            background-color: rgba($window-button-default, .85);
            border: solid 2px rgba($window-button-border-default, .85);
            &:hover {
                background-color: rgba($window-button-hover, .85);
                border: solid 2px rgba($window-button-border-hover, .85);
            }
            &:active {
                background-color: rgba($window-button-active, .85);
                border: solid 2px rgba($window-button-border-active, .85);
            }
            &.active-category {
                background-color: lighten(rgba($window-button-hover, .85), 12%) !important;
                border: solid 2px lighten(rgba($window-button-border-hover, .85), 12%) !important;
            }
        }
    }
    .menu-col-item {
        display: none;
        &.active-tab {
            flex-grow: 5;
            display: flex;
            flex-flow: column;
            display: flex !important;
            height: 230px;
        }
        &#languages {
            button {
                box-sizing: border-box;
                display: inline-block;
                text-align: left;
                align-items: baseline;
    
                font-size: 13px;
                width: 300px;
                height: 30px;
                margin-left: 6px;
                margin-right: 6px;
                margin-top: 3px;
                margin-bottom: 3px;
                background-color: rgba(rgb(52, 56, 60), .75);
                border: solid 2px rgba(rgb(52, 56, 60), .75);
                &:hover {
                    background-color: rgba($window-button-hover, .75);
                    border: solid 2px rgba($window-button-border-hover, .75);
                }
                &:active {
                    background-color: rgba($window-button-active, .75);
                    border: solid 2px rgba($window-button-border-active, .75);
                }
                div {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}