* {
    $cursor: url('./cursors/default.png') 0 0, auto;
    cursor: $cursor;
}
button:hover, button:active, button:focus, .leaflet-popup-close-button:hover, .leaflet-popup-close-button:active, .leaflet-popup-close-button:focus {
    $cursor_active: url('./cursors/active.png') 0 0, auto !important;
    cursor: $cursor_active;
    * {
        cursor: $cursor_active;
        path {cursor: $cursor_active;}
    }
}
.leaflet-disabled, *:disabled {
    $cursor_inactive: url('./cursors/disabled.png') 0 0, auto !important;
    cursor: $cursor_inactive;
}

.leaflet-grab, .leaflet-dragging, .leaflet-grab {
    $cursormap: url('./cursors/default-map.png') 32 32, auto !important;
    cursor: $cursormap;
}
.leaflet-marker-icon:hover, .leaflet-marker-icon:active {
    $cursormap_active: url('./cursors/active-map.png') 32 32, auto !important;
    cursor: $cursormap_active;
}