@import 'cursor';

@font-face {
    font-family: "NGS Font";
    src: url("./ngsfont.woff") format("woff");
}

$map-bg-color: rgb(26, 67, 121);
$menu-color: rgba(22, 31, 44, 0.85);

$navbar-button-default: rgba(26, 67, 121, 0.85);
$navbar-button-hover: rgba(52, 98, 142, 0.85);
$navbar-button-active: rgba(129, 122, 23, 0.85);
$navbar-button-border-default: rgba(29, 33, 42, 0.85);
$navbar-button-border-hover: rgba(54, 255, 255, 0.85);
$navbar-button-border-active: rgba(129, 122, 23, 0.85);




$window-header-color: rgb(40, 131, 211);
$window-color: rgba(26, 39, 43, 0.85);
$window-border-color: rgb(54, 255, 255);

$window-button-default: rgba(34, 63, 94, 0.85);
$window-button-hover: rgba(63, 95, 142, 0.85);
$window-button-active: rgba(133, 91, 29, 0.85);
$window-button-border-default: $window-button-default;
$window-button-border-hover: rgba(48, 222, 254, 0.85);
$window-button-border-active: rgba(223, 171, 6, 0.85);

* {
    font-family: "NGS Font";
    color: white;
    $outline: 1px;
    text-shadow: 0px $outline 0 rgb(0,0,0),0px calc(0px - $outline) 0 rgb(0,0,0),$outline 0px 0 rgb(0,0,0),calc(0px - $outline) 0px 0 rgb(0,0,0),$outline $outline 0 rgb(0,0,0),$outline calc(0px - $outline) 0 rgb(0,0,0),calc(0px - $outline) $outline 0 rgb(0,0,0),calc(0px - $outline) calc(0px - $outline) 0 rgb(0,0,0);
    .ignore-outline {
        text-shadow: initial;
    }
}
body {
    margin: 0px;
}
.leaflet-container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}
.bar-container {
    position: absolute;
    background-image: url('./navbar.png');
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    bottom: 0;
    height: 12%;
    width: 100%;
    z-index: 11;
}
.menu-freespace-container {
    $margin: 2.5%;
    position: absolute;
    top: 0;
    height: calc(88% - 2px);
    width: calc(100% - $margin * 2);
    margin: $margin;
}
