@font-face {
    font-family: "NGS Font";
    src: url("../ngsfont.woff") format("woff");
}
* {
    font-family: "NGS Font";
    user-select: none;
    color: white;
    --outline: 1px;
    text-shadow: 0px var(--outline) 0 rgb(0,0,0),0px calc(0px - var(--outline)) 0 rgb(0,0,0),var(--outline) 0px 0 rgb(0,0,0),calc(0px - var(--outline)) 0px 0 rgb(0,0,0),var(--outline) var(--outline) 0 rgb(0,0,0),var(--outline) calc(0px - var(--outline)) 0 rgb(0,0,0),calc(0px - var(--outline)) var(--outline) 0 rgb(0,0,0),calc(0px - var(--outline)) calc(0px - var(--outline)) 0 rgb(0,0,0);
}

body {
    margin: 0px !important;
}

map {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(26, 67, 121) !important;
    z-index: 100;
}

container {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

window {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    z-index: 8492;
    background-color: rgb(26 39 43 / 85%);
    border: 1px solid rgb(54 255 255);
}

menuicon {
    margin-right: 8px;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    text-shadow: initial;
}
menuicon::before {
    content: "◆︎";
}


header {
    background-color: rgb(40, 131, 211);
    width: calc(100% - 7px * 2);
    padding-left: 7px;
    padding-right: 7px;
    height: 32px;
    display: flex;
}
header > span {
    font-size: 22px;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-flex;
    flex: 1;
    float: left;
}
content {
    width: 100%;
    height: auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 6px;
}

form {
    margin-left: 10px;
    margin-right: 10px;
}

form > div {
    color:rgb(98, 173, 211);
    font-size: 18px;
}

form > border {
    position: relative;
    display: block;
    height: 1px;
    background:rgba(79, 97, 109, 0.85);
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: -5px;
    margin-right: -5px;
}
form > border::before {
    position: absolute;
    left: 0;
    top: -1px;
    background:rgba(202, 202, 202, 0.85);
    width: 3px;
    height: 3px;
    content: "";
}
form > border::after {
    position: absolute;
    right: 0;
    top: -1px;
    background:rgba(202, 202, 202, 0.85);
    width: 3px;
    height: 3px;
    content: "";
}

form > input {
    background-color: rgba(0, 0, 0, 0.85);
    border: 3px solid rgba(177, 187, 188, 0.85);
    font-size: 14px;
    height: 24px;
    width: 324px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 10px;
}
form > input:hover {
    border: 3px solid rgba(59, 208, 225, 0.85) !important;
}
form > input:focus, form > input:focus-visible {
    border: 3px solid rgba(255, 201, 3, 0.85) !important;
    outline: none;
}

form > buttons {
    margin-top: 5px;
}

buttons > button, buttons > a {
    display: inline-flex;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    padding: 1px 6px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

buttons > button, buttons > a {
    font-size: 15px;
    width: 118px;
    height: 40px ;
    background-color: rgba(34, 63, 94, .85);
    border: solid 2px rgba(34, 63, 94, .85);
}

buttons > button:hover, buttons > a:hover {
    background-color: rgba(63, 95, 142, .85);
    border: solid 2px rgba(48, 222, 254, .85);
}
buttons > button:active, buttons > a:active {
    background-color: rgba(133, 91, 29, .85);
    border: solid 2px rgba(223, 171, 6, .85);
}