@import './../stylesheet.scss';

window#menu-legend {
    columns {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row;
        padding-top: 10px;
        padding-bottom: 6px;
        category {
            flex-grow: 5;
            display: flex;
            flex-flow: column;
            button {
                width: 250px;
                height: 40px;
                margin-left: 6px;
                margin-right: 9px;
                margin-top: 3px;
                margin-bottom: 3px;
                background-color: rgba($window-button-default, .85);
                border: solid 2px rgba($window-button-border-default, .85);
                &:hover {
                    background-color: rgba($window-button-hover, .85);
                    border: solid 2px rgba($window-button-border-hover, .85);
                }
                &:active {
                    background-color: rgba($window-button-active, .85);
                    border: solid 2px rgba($window-button-border-active, .85);
                }
                &.active {
                    background-color: lighten(rgba($window-button-hover, .85), 12%) !important;
                    border: solid 2px lighten(rgba($window-button-border-hover, .85), 12%) !important;
                }
            }
        }
        items {
            display: none;
            &.active {
                flex-grow: 5;
                flex-flow: column;
                display: flex !important;
                height: 230px;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    width: 3px;
                    background-color: rgba(169, 169, 169, 0.5);
                }
                &::-webkit-scrollbar-thumb {
                    background-color: darkgray;
                }
            }
            button {
                box-sizing: border-box;
                display: inline-block;
                text-align: left;
                align-items: baseline;
    
                font-size: 13px;
                width: 300px;
                height: 30px;
                margin-left: 3px;
                margin-right: 3px;
                margin-top: 3px;
                margin-bottom: 3px;
                background-color: rgba(rgb(52, 56, 60), .75);
                border: solid 2px rgba(rgb(52, 56, 60), .75);
                &:hover {
                    background-color: rgba($window-button-hover, .75);
                    border: solid 2px rgba($window-button-border-hover, .75);
                }
                &:active {
                    background-color: rgba($window-button-active, .75);
                    border: solid 2px rgba($window-button-border-active, .75);
                }
                label {
                    height: 100%;
                    margin: 0;
                    height: 24px;
                    div {
                        color: white !important;
                        width: 14px !important;
                        height: 14px !important;
                        border: 1px solid white !important;
                        border-radius: 3px !important;
                        margin-right: 6px !important;
                        span {
                            display: inline-block;
                            background-color: #30F3FF;
                            height: 100%;
                            text-align: center;
                            font-size: 18px;
                            text-shadow: initial;
                            color: #3567A9;
                            line-height: calc(100% - 2px);
                            border-radius: 1px;
                            &::before {
                                content: "✔";
                            }
                        }
                    }
                }
            }
        }
        info {
            flex-grow: 5;
            display: flex;
            flex-flow: column;
            margin-left: 12px;
            margin-right: 6px;
            width: 220px;
            background {
                display: block;
                width: 96px;
                height: 96px;
                background-image: url(./../../../assets/ui/bg_icon.png);
                background-size: cover;
                opacity: 0.5;
                &.red {
                    border: solid 2px rgb(255, 0, 0);
                    background-color: rgba(255, 0, 0, .35);
                }
                &.green {
                    border: solid 2px rgba(0, 255, 0, 1);
                    background-color: rgba(0, 255, 0, .35);
                }
                &.blue {
                    border: solid 2px rgba(0, 0, 255, 1);
                    background-color: rgba(0, 0, 255, .35);
                }
                &.gold {
                    border: solid 2px rgba(255,215, 1);
                    background-color: rgba(255,215, .35);
                }
                &.purple {
                    border: solid 2px rgba(196, 0, 171, 1);
                    background-color: rgba(196, 0, 171, .35);
                }
                &.lightblue {
                    border: solid 2px rgb(40, 131, 211);
                    background-color: rgba(40, 131, 211, .35);
                }
                &.matoi {
                    border: solid 2px rgba(198, 10, 52, 1);
                    background-color: rgba(198, 10, 52, .35);
                }
            }
            img {
                border: solid 2px rgba(0,0,0,0);
                position: absolute;
                width: 96px;
                height: 96px;
                opacity: 0.9;
                pointer-events: none;
            }
            name {
                font-size: 17px;
                margin-top: 4px;
                margin-bottom: 4px;
                overflow-wrap: break-word;
            }
            thesis {
                font-size: 14px;
                height: 104px;
                overflow-wrap: break-word;
            }
        }
    }
}