@import './style.scss';

tooltip-window {
    width: auto;
    display: block;
    background-color: $window-color;
    border: 1px solid $window-border-color;
    header {
        $widthpadding: 7px;
        background-color: $window-header-color;
        width: calc(100% - $widthpadding * 2);
        padding-left: $widthpadding;;
        padding-right: $widthpadding;;
        height: 32px;
        display: flex;
        span {
            font-size: 22px;
            margin-top: auto;
            margin-bottom: auto;
            display: inline-flex;
            flex: 1;
            float: left;
            menuicon::before {
                content: "◆︎";
            }
        }
    }
    content {
        white-space: pre-wrap;
        padding-left: 10px;
        padding-right: 10px;
        width: calc(100% - 20px);
        height: auto;
        display: block;
        padding-top: 10px;
        padding-bottom: 6px;
        font-size: 14px;
        id {
            color: rgb(173, 173, 173);
            font-size: 10px;
            display: block;
        }
    }
}